@charset "UTF-8";

*{
margin:0px; padding:0px;
color:#ffffff;
font-family:"MS Gothic";
}

body{
background-color:#000000;
}

div#base{
width:900px; height:800px; margin:20px auto;
background-color:#101010;
float:center;
border-width:1px;
border-style:solid;
border-color:#c0c0c0;
}

div#header{
width:auto; height:80px; margin:20px;
background-color:#202020;
text-align:center;
}

h1{
border-width:0px;
}

div#main{
width:590px; height:auto;
background-color:#202020;
float:left;
text-align:center;
}

div#sub{
width:290px; height;auto;
background-color:#202020;
float:right;
text-align:left;
}