@charset "UTF-8";

*{
width:auto; height:auto;
margin:0px; padding:0px;
color:#ffffff;
font-family:"MS Gothic";
border-width:0px;
}

body{
background-color:#000000;
}

div#base{
width:900px; height:810px;
margin:20px auto; padding:10px;
background-color:#101010;
}

div#header{
width:860px; height:30px;
margin:10px; padding:10px;
background-color:#202020;
text-align:center;
}

div#main{
width:560px; height:700px;
margin:10px; padding:10px;
background-color:#202020;
float:left;
text-align:center;
}

div#sub{
width:260px; height:700px;
margin:10px; padding:10px;
background-color:#202020;
float:right;
text-align:left;
}

iframe{
width:540px; height:680px;
}