@charset "UTF-8";

*{
width:auto; height:auto;
margin:0px; padding:0px;
color:#ffffff;
font-family:"MS Gothic";
}

body{
background-color:#000000;
}

div{
border-width:1px;
border-style:solid;
border-color:#c0c0c0;
}

iframe{
border-width:1px;
border-style:solid;
border-color:#c0c0c0;
}

div#base{
width:900px;
margin:20px auto;
background-color:#101010;
}

div#header{
margin:20px; padding:10px;
background-color:#202020;
text-align:center;
}

iframe#main{
width:560px;
margin:20px;
float:left;
}

div#sub{
width:260px;
margin:20px; padding:10px;
background-color:#202020;
float:right;
text-align:left;
}