@charset "UTF-8";

body {
background-color: #99ff99;
}

div#base {
width: 640px;
margin: 12px 320px;
padding: 6px;
background-color: #ccffcc;
}

div.bms {
width: 608px;
margin: 5px;
padding: 6px;
border-width: 1px;
border-color: #000000;
}

img {
float: right;
inline: block;
}

table, tr, td {
margin: 5px;
padding: 6px;
border-width: 1px;
border-color: #000000;
vertical-align: top;
}