@charset "UTF-8";

body {
background-color: #336633;
}

div#base {
width: 960px;
margin: 12px 160px;
padding: 6px;
background-color: #99cc99;
}

div.noimg {
width: 128px;
height: 128px;
padding: 7px;
border-width: 1px;
border-color: #000000;
background-color: #666666;
}

h1 {
margin: 4px;
padding: 3px;
border-width: 1px;
border-color: #000000;
}

table, tr, td {
margin: 4px;
padding: 3px;
border-width: 1px;
border-color: #000000;
vertical-align: top;
}