@charset "UTF-8";

* {
margin: 0px;
padding: 0px;
font-size: 12px;
font-family: "MS Gothic";
border-width: 0px;
border-style: solid;
box-sizing: border-box;
line-height: 1;
}

h1, h2 {
font-weight: normal;
}

a {
color: #0000ff;
text-decoration: underline;
}

ul, ol, li {
list-style-type: none;
}